html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

/* colors */
/* http://www.colourlovers.com/palette/3956895/Gray-dient */
/* font */
body {
  background-color: #72615F;
  font: 100% Arial, sans-serif; }

header, footer {
  overflow: auto;
  background-color: #85907D;
  border: solid 1px #C8C2CD;
  padding: 0.5em;
  font-family: sans-serif, Arial; }

header {
  font-size: 22pt; }
  header img {
    float: left; }
  header h2 {
    float: left;
    margin: 0.5em; }

footer {
  font-size: 12pt; }
  footer img {
    float: right;
    margin-left: 0.5em; }
  footer p {
    float: right; }

table {
  width: 100%;
  background-color: #ECE9E9; }

th {
  background-color: black;
  color: #eee;
  font-size: 20pt; }

td, th {
  border: solid 1px black; }

tr:nth-child(even) {
  background-color: #ECE9E9; }

tr:nth-child(odd) {
  background-color: #C8C2CD; }

input[type=text] {
  width: 80%; }

.hidden {
  display: none; }

#searchform, #manipResults {
  background-color: #ECE9E9;
  border: solid 1px #85907D;
  margin: 0.5em 0 0.5em 0;
  padding: 0.5em; }

.shower:hover {
  cursor: pointer; }
